{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Product</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- breadcrumb-area-end -->

    <!-- blog-area -->
    <div class="blog-area blog-bg pt-120 pb-120">
        <div class="container">

            <div class="border-box">
                <form id="forms">
                    <div class="row text-center ">
                        {% csrf_token %}
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                            <div>
                                <label class="label-color"> Product</label>
                            </div>
                            <select class="form-select select-padding " id="category" name="category"
                                aria-label="Default select example" required>
                                <option selected disabled>--select--</option>
                                {% for categories in category %}
                                <option value="{{categories.id}}">{{categories.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="text" id="prdctName" name="prdctName" hidden>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                            <div>
                                <label class="label-color responsive-label"> Country</label>
                            </div>
                            <select class="form-select select-padding " id='country' name="country"
                                aria-label="Default select example" required>
                                <!-- <option selected>Country</option> -->
                                <!-- <option value="1">China</option>
                                <option value="2">India</option>
                                <option value="3">United States</option>
                                <option value="3">Indonesia</option> -->
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                            <div>
                                <label class="label-color responsive-label">Quantity in TON</label>
                            </div>
                            <div>
                                <input type="number" value="1" min="1" id="quantity" name="quantity"
                                    class="input-radius inputlength text-center" required>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-12">
                            <div>
                                <label class="label-color responsive-label">Price</label>
                            </div>
                            <div>
                                <input type="number" id="price" name="price"
                                    class="inputlength input-radius text-center" required>
                            </div>
                        </div>
                        <input type="number" id="productprice" class="inputlength input-radius text-center" hidden>

                        <div class="col-lg-1 col-md-12 col-sm-12 ">
                            <div class="addbtn-alignment">
                                <button type="submit" class="add-button">ADD</button>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
        <div class="container table-pad">
            <table class="table table-color" id="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Country</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-right">
                <label class="total-class" >Total : <span id="total" class="total-class"></span></label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
                <button class="submit-btn" type="button" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </div>



            <form id="whatsapp-form">
                {% csrf_token %}
                <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group form-padding">
                                    <input type="text" class="form-control" name="name" id="name"
                                        placeholder="Your Name">
                                </div>
    
                                <div class="form-group form-padding">
                                    <input type="text" name="cmpnyname" id="cmpnyname" class="form-control" placeholder="Company Name">
                                </div>
                                <div class="form-group form-padding">
                                    <textarea name="cmpnyadrs" id="cmpnyadrs" cols="30" rows="3" class="form-control" placeholder="Company Address"></textarea>
                                </div>
                                <div class="form-group form-padding">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Email id">
                                </div>
                                <div class="form-group form-padding">
                                    <input type="text" name="mob" id="mob" class="form-control" placeholder="Mobile Number">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="submit-btn">Send</button>
                                <button type="button" class="submit-btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        
        </div>

    </div>
    <!-- blog-area-end -->

</main>
<!-- main-area-end -->


{% endblock %}