{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Product</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- blog-area -->
    <div class="blog-area blog-bg pt-120 pb-120">
        <div class="container">
            <div class="row">
                {% comment %}
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="blog-thumb">
                        <a href="blog-details.html"><img src="{% static 'web/img/blog/s_blog_thumb02.jpg' %}"
                                alt="img"></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                    <h4><a href="blog-details.html">Supply Cargo Management</a></h4>
                    <p>Express delivery is an innovativ service is effective logistics solutio for delivery of small
                        cargo service dolor sit
                        amet, consectetur adipisicing.</p>
                </div>
                {% endcomment %}

                <div class="col-lg-3">
                    <div>
                        <label for=""> Product</label>
                    </div>
                    <select class="form-select select-padding" aria-label="Default select example">
                        <option selected>Product</option>
                        <option value="1">Sugar</option>
                        <option value="2">Maida</option>
                        <option value="3">Oil</option>
                        <option value="3">Cashewnut</option>
                    </select>
                </div>

                <div class="col-lg-3">
                    <div>
                        <label for=""> Country</label>
                    </div>
                    <select class="form-select select-padding" aria-label="Default select example">
                        <option selected>Country</option>
                        <option value="1">China</option>
                        <option value="2">India</option>
                        <option value="3">United States</option>
                        <option value="3">Indonesia</option>
                    </select>
                </div>

                <div class="col-lg-3">
                    <div class="inputbox-pad">
                        <input type="text" placeholder="Quantity">
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="inputbox-pad">
                        <input type="text" placeholder="&#8377; 100 ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-area-end -->

</main>
<!-- main-area-end -->


{% endblock %}